html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #d8eacb;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  background: #eeeeee;
  padding: 0.5em;
}

.logo {
  color: black;
  font-weight: bold;
}

.menu {
  cursor: pointer;
}

nav ul {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #72a84a;
  height: 100vh;
  padding-top: 5em;
  z-index: 100;
}

.exit a {
  width: 1.5em;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

ul li a {
  color: black;
  font-weight: bold;
  padding: 1em;
  display: block;
  font-size: 1.5em;
}

.open-nav {
  visibility: unset;
  opacity: 1;
  transform: traslateX(0);
}

.forest-hero {
  background: url(images/forest1.jpg);
  background-size: cover;
  color: rgb(245, 241, 241);
}

.wrapper {
  padding: 0.5em;
  text-align: center;
}

.no-padding {
  padding: 0;
}

.subtitle {
  padding: 3em 0 0.5em;
}
h1 {
  font-size: 2.5em;
}
h1 span {
  display: block;
  /* clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%); */
}

.cta {
  display: inline-block;
  color: white;
  font-weight: bold;
  background-color: #72a84a;
  padding: 0.8em;
  border-radius: 0.3em;
  margin-bottom: 2em;
  margin-top: 1em;
}

ul.featured-cabins {
  width: 70%;
  margin: 0 auto;
}

ul.featured-cabins li {
  margin-bottom: 3em;
}

.cabin-img {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.cabin-title {
  font-size: 1.3em;
  font-weight: bold;
}

.cabin-desc {
  padding: 1.4em;
}

.cabin-desc,
ul.features li p,
.left p {
  line-height: 1.9em;
  font-size: 0.9em;
  margin-bottom: 2em;
}

.cabin-cta {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.cabin-cta span{
  color: white; 
  font-weight: bold;
  font-size: .9em;
}

.cabin-cta img {
  width: 12px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); */
}

.cabin-cta:after {
  position: absolute; 
  content: '';
  bottom: -12px; 
  background: white; 
  width: 86%; 
  height: 1px; 
}

.feature-container {
  background: #1A1A1A;
  color: white; 
}

ul.features li img {
  width: 50px; 
}

ul.features {
  margin: 3em auto; 
  width: 70%;
}

ul.features li p {
  color: #CCCCCC; 
  margin-bottom: 2em;
}


.main-quote {
  font-family: "Playfair Display", serif;
  font-size: 2.2em;
  font-style: italic;
  margin-bottom: .5em ;
}

.main-cite {
  margin-bottom: 3em;
  display: block; 
}

ul.testimonials {
  margin: 3em 0;
}

ul.testimonials li {
  margin: 3em 0;
}

.test-img {
  border-radius: 50%;
  width: 70px; 
  height: 75px;
}

p.test-desc {
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

p.test-auth {
  font-weight: bold; 
  font-size: .85em;
}

.last-container {
  position: relative; 
}

.fern {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 75%;
  opacity: .1;
}

@media (min-width: 550px) {

  .menu, .exit {
    display: none; 
  }

  header {
    padding: 1em;
  }

  ul.nav {
    visibility: unset;
    opacity: 1;
    background: none;
    display: flex;
    margin: 0;
    padding: 0;
    position: unset;
    height: auto;
  }

  ul.nav li a {
    font-size: 1em;
    padding: 0 1em;
    font-weight: normal;
  }

  ul.nav li:last-child a {
    padding-right: 0;
  }

  ul.nav .active a {
    font-weight: bold;
  }

  ul.nav .res a {
    color: #72A84A;
    font-weight: bold; 
  }

  ul.featured-cabins {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }

  .cabin-cta:after {
    width: 76%; 
  }
  .cabin-cta img {
    width: 10px;
  }
}

@media (min-width: 650px) {

  ul.features {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 3em;
  }
}

@media (min-width: 900px) {

  .wrapper {
    text-align: left;
  }

  .flex {
    display: flex; 
  }

  .hero {
    padding: 8em 4em;
  }

  .last-container {
    padding: 0 4em;
  }

  .main-copy {
    width: 40%;
  }

  p.subtitle {
    margin: 0 0 em;
    padding: 0;
  }

  h1 {
    font-size: 3em;
    margin-top: 0;
 
  }

  ul.featured-cabin {
    width: 70%;
  }

  .cabin-title {
    margin-left: 1em;
    font-size: 1.6em;
  }

  .main-quote, .main-cite {
    text-align: center;
  }

  .main-quote {
    font-size: 3em;
    margin-top: 2em;
  }

  .main-cite {
    font-size: 1.5em;
  }

  .bio {
    width: 90%;
    margin-top: 2em;;
  }

  ul.testimonials {
    width: 100%;
    margin-left: 2em;
    top: 0;
    padding: 0;
  }

  ul.testimonials li {
    display: flex;
    background: white; 
    padding: 1.5em;
    margin-bottom: .1em;
  }

  .test-img {
    margin-right: 1em;
  }

  .test-description {
    margin-top: .5em;
    font-size: 1.1em;
    margin-bottom: 0;
  }

  .fern {
    width: 20%; 
  }

  .cabin-desc, ul.features li p, .left p {
    font-size: 1em;
}

  /* .test-desc {
    position: relative; 
    justify-content: inbetween;;
    margin-left: 7em;
    margin-top: 3em;
  }

  .test-auth {
    margin-left: 9em;
  } */



}
